<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Weather App</title>
</head>
<body>
    <div class="container-f">
        <img src="/images/index-pic.png" alt="cloud and sun">
        <br />
        <br />
        <h1>Welcome to my weather app!</h1>
        <h2>Choose a city and its country to find out the weather:</h2>
        <form id="form" method="get" action="/city">
            <input type="text" name="city" placeholder="City" required>
            <input type="text" name="country" placeholder="Country" required>
            <button type="submit">Search</button>
        </form> 
    </div>
</body>
</html>

